<body>
    <nav class="container">
        <img id="dc-logo" src="../../assets/img/83-832568_dc-comics-dc-comics-logo-dark.png" alt="">
        <a href="#">ABOUT</a>
        <a href="#">TRAILERS</a>
        <a href="#">GALLERY</a>
        <a href="#">SHOP</a>
    </nav>
    <div id="red-line" class="col-5"></div>
    <div id="all-text" >

        <div id="subtitle" class="container">
            <h4 id="actor">JOAQUIN PHOENIX</h4>
            <h4 id="date">OCT 4 ''</h4>
        </div>

        <div id="logo">
            <img src="../../assets/img/joker_2019_logo_by_buffy2ville_ddf2d7e-fullview.png" alt="">
        </div>
        <h2 >PUT ON A HAPPY FACE</h2>
        

    </div>
</body>